
 <main>
    <section> 
        <div class="card card__detalhes mx-auto" style="width: 35rem;">
            <button type="button" class="btn-close btn-close-black" aria-label="Close"></button>
            <img src="<%=catalogo.imagem%>" class="card-img-top" alt="imagem-viagem">
            <div class="card-body">
              <h5 class="card-title"><%=catalogo.lugar%></h5>
              <p class="card-text"><%=catalogo.frase%></p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><strong>Descrição:</strong><%=catalogo.descricao%></li>
              <li class="list-group-item"><strong>Estrutura:</strong><%=catalogo.estrutura%></li>
              <li class="list-group-item"><strong>Atividadesr:</strong><%=catalogo.atividades%></li>
            </ul>
            <div class="card-body">
              <a href="/" class="card-link">Voltar</a>
              <a href="/editar" class="card-link">Editar</a>
              <a href="/delete" class="card-link">Apagar</a>
            </div>
          </div>
</section>
 </main>
 
